
.delete-button {
  color: white;
  width: 30%;
  height: 30px;
  border: 3px;
  border-radius: 8px;
  background-color: rgb(247, 97, 97);
}
.delete-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

