.addcar-container {
  color: white;
  width: 90%;
  height: 30px;
  border: 3px;
  border-radius: 8px;
  background-color: blueviolet;
}

.addcar-container:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.main-container {
  width: 1140px;
  height: 800px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-container {
  align-items: center;
  display: flexbox;
  justify-content: center;
  background-color: rgb(80, 187, 85);
  border-radius: 5px;
}

.button-container {
  width: 99%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  gap: 5px;
  align-items: center;
  width: 500px;
  height: 150px;
  text-align: center;
  font-size: large;
  font-weight: 500;
}

input {
  text-align: center;
}

.error-container {
  color: white;
  background-color: rgb(222, 81, 81);
  border-radius: rgb(122, 5, 5);
  border: 3px;
  border-radius: 8px;
  text-align: center;
}
